<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/auth.css">

<%- include ../partials/head-end %>

<%- include ../partials/header %>


<div class="signup-wrapper">
    <h1>Create A New POMP Account</h1>

    <form action="/register" method="post">
        <section>
            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name" placeholder="Your or Your Business'" required>
        </section>
        <section>
            <label for="contact">Contact Number:</label>
            <input type="number" name="contact" id="contact" maxlength="10" placeholder="Ensure contact number is valid" required>
        </section>
        <section>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" minlength="7"  placeholder="Only numbers and letters allowed" required>
        </section>
        <section>
            <label for="re_password">Re-enter Password:</label>
            <input type="password" name="re_password" id="re_password" minlength="7" placeholder="Ensure it matches with above" required>
        </section>
        <section class="wide">
            <label for="email">Email Address:</label>
            <input type="email" name="email" id="email" placeholder="Ensure email is valid and working" required>
        </section>

        <section class="btn-wrapper wide">
            <button type="submit" class="btn2">Sign Up</button>
        </section>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" readonly>
    </form>

    <img src="https://scontent.fdel13-1.fna.fbcdn.net/v/t31.0-8/30420097_1294097994054092_5742171852757201129_o.jpg?_nc_cat=101&_nc_oc=AQnnRvGWvRhur937VM0OY9qRp6-pPKy-jHmYXA8d8MEQTdA3PrHffahKpXwr5iDa9wUZBhrRsH-R98dao1VqAIHk&_nc_ht=scontent.fdel13-1.fna&oh=9110080f153747562fd5292a463c24bc&oe=5E4F359B" alt="">
</div>


<%- include ../partials/footer %>

<script src="/scripts/common-bundle.js"></script>

<%- include ../partials/end %>