<%- include ../partials/head %>

<link rel="stylesheet" type="text/css" href="/styles/auth.css">

<%- include ../partials/head-end %>

<%- include ../partials/header %>

<div class="reset">
    <h1>Reset Password</h1>

    <form action="/reset/password" method="post">
        <section>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="<%= email %>" readonly required />
        </section>

        <section>
            <label for="password">Password:</label>
            <input 
                type="password" 
                name="password" 
                id="password" 
                minlength="7"
                placeholder="Only numbers and letters allowed"
                required
            />	
        </section>

        <section class="btn-wrapper">
            <button class="btn2" type="submit">Reset Password</button>
        </section>
        
        <input type="hidden" name="token" id="token" value="<%= token %>" required>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
    </form>
</div>

<%- include ../partials/footer %>

<script src="/scripts/common-bundle.js"></script>

<%- include ../partials/end %>