<%- include ../partials/head %>

<%- include ../partials/head-end %>

<%- include ../partials/header %>

<div class="legal-wrapper">
    <div class="content">
        <h2 class="bg-anim">Shipping Policy</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sint vero ducimus quasi sed nisi aut, optio architecto beatae vel at explicabo, soluta quae voluptates dolorum reiciendis numquam, mollitia earum.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quia sapiente voluptates veniam quod molestiae.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima officia tenetur illum porro laudantium voluptatum vitae facere expedita molestiae velit?</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum minus vel voluptate ad at officia, quos, corporis quaerat maiores aut tenetur dolorem est possimus molestias blanditiis minima rem laudantium hic modi voluptatum voluptates? Facilis hic, eos molestias exercitationem id, voluptatem soluta, harum culpa itaque eaque a officiis neque. Veritatis voluptatum sequi in itaque voluptas laudantium sunt reprehenderit rem nulla.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quam officia magnam eaque aliquam minus expedita cum. Perspiciatis modi rerum delectus nihil reiciendis doloremque impedit sed? Rem tempora omnis iure ullam? Harum consectetur tenetur dolorem. Autem vitae eos ipsum neque doloremque doloribus nam tempora libero, quod facilis soluta ea officia quas cupiditate quos esse commodi.</p>
    </div>

    <div class="content">
        <h2 class="bg-anim">Returns Policy</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sint vero ducimus quasi sed nisi aut, optio architecto beatae vel at explicabo, soluta quae voluptates dolorum reiciendis numquam, mollitia earum.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quia sapiente voluptates veniam quod molestiae.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima officia tenetur illum porro laudantium voluptatum vitae facere expedita molestiae velit?</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum minus vel voluptate ad at officia, quos, corporis quaerat maiores aut tenetur dolorem est possimus molestias blanditiis minima rem laudantium hic modi voluptatum voluptates? Facilis hic, eos molestias exercitationem id, voluptatem soluta, harum culpa itaque eaque a officiis neque. Veritatis voluptatum sequi in itaque voluptas laudantium sunt reprehenderit rem nulla.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quam officia magnam eaque aliquam minus expedita cum. Perspiciatis modi rerum delectus nihil reiciendis doloremque impedit sed? Rem tempora omnis iure ullam? Harum consectetur tenetur dolorem. Autem vitae eos ipsum neque doloremque doloribus nam tempora libero, quod facilis soluta ea officia quas cupiditate quos esse commodi.</p>
    </div>
</div>

<%- include ../partials/footer %>

<script src="/scripts/common-bundle.js"></script>

<%- include ../partials/end %>