<%- include ../partials/head %>

<%- include ../partials/head-end %>

<%- include ../partials/header %>

<div class="legal-wrapper">
    <div class="content">
        <h1 class="bg-anim">Terms and Conditions</h1>
        <p>The following terms and conditions apply to all transactions on the abyaonline.com. The use of this site indicates your acceptance of these terms and conditions. The placement of an order indicates your acceptance of these terms and conditions, This does not affect any statutory rights that you may have. Please read them carefully and print a copy for future reference.</p>
    </div>

    <div class="content">
        <h2>General</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis recusandae est neque, autem accusamus veritatis facilis dolores nemo omnis aspernatur delectus quo officia natus vel blanditiis esse, assumenda eveniet ea!
        </p>
    </div>

    <div class="content">
        <h2>Description of Goods</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsum mollitia quaerat, veritatis nam quos distinctio nobis omnis impedit rem aliquam. Exercitationem accusamus officia deserunt quia, error iure neque et.</p>
    </div>

    <div class="content">
        <h2>Accuracy of Product Information</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi numquam soluta suscipit incidunt. Cupiditate, eligendi qui necessitatibus quibusdam totam voluptatibus reiciendis exercitationem ex harum officia quidem nulla laudantium vero saepe quis sit nisi in, odit labore? Dicta vitae eligendi non! Dolor quibusdam quisquam reprehenderit nesciunt sunt dolorum nihil, ullam, animi ea, minus molestiae autem nam cum.</p>
    </div>

    <div class="content">
        <h2>Payment and Price</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laudantium dolorum nam ut tenetur enim reprehenderit, ipsa temporibus hic dicta, inventore impedit dolor repellendus quis, deserunt numquam voluptas? Debitis magnam ipsum totam aut iusto itaque temporibus repudiandae, quaerat, repellendus quam quas veniam. Unde nam incidunt consequuntur sed non aliquid, inventore amet, iusto reiciendis itaque eos animi quibusdam nisi. At, blanditiis! Vero quasi natus culpa.</p>
    </div>

    <div class="content">
        <h2>Typographical Errors</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laudantium dolorum nam ut tenetur enim reprehenderit, ipsa temporibus hic dicta, inventore impedit dolor repellendus quis, deserunt numquam voluptas? Debitis magnam ipsum totam aut iusto itaque temporibus repudiandae, quaerat, repellendus quam quas veniam. Unde nam incidunt consequuntur sed non aliquid, inventore amet, iusto reiciendis itaque eos animi quibusdam nisi. At, blanditiis! Vero quasi natus culpa.</p>
    </div>

    <div class="content">
        <h2>Payment Methods</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laudantium dolorum nam ut tenetur enim reprehenderit, ipsa temporibus hic dicta, inventore impedit dolor repellendus quis, deserunt numquam voluptas? Debitis magnam ipsum totam aut iusto itaque temporibus repudiandae, quaerat, repellendus quam quas veniam. Unde nam incidunt consequuntur sed non aliquid, inventore amet, iusto reiciendis itaque eos animi quibusdam nisi. At, blanditiis! Vero quasi natus culpa.</p>
    </div>

    <div class="content">
        <h2>General</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis recusandae est neque, autem accusamus veritatis facilis dolores nemo omnis aspernatur delectus quo officia natus vel blanditiis esse, assumenda eveniet ea!
        </p>
    </div>

    <div class="content">
        <h2>Description of Goods</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsum mollitia quaerat, veritatis nam quos distinctio nobis omnis impedit rem aliquam. Exercitationem accusamus officia deserunt quia, error iure neque et.</p>
    </div>

    <div class="content">
        <h2>Accuracy of Product Information</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi numquam soluta suscipit incidunt. Cupiditate, eligendi qui necessitatibus quibusdam totam voluptatibus reiciendis exercitationem ex harum officia quidem nulla laudantium vero saepe quis sit nisi in, odit labore? Dicta vitae eligendi non! Dolor quibusdam quisquam reprehenderit nesciunt sunt dolorum nihil, ullam, animi ea, minus molestiae autem nam cum.</p>
    </div>

    <div class="content">
        <h2>Payment and Price</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laudantium dolorum nam ut tenetur enim reprehenderit, ipsa temporibus hic dicta, inventore impedit dolor repellendus quis, deserunt numquam voluptas? Debitis magnam ipsum totam aut iusto itaque temporibus repudiandae, quaerat, repellendus quam quas veniam. Unde nam incidunt consequuntur sed non aliquid, inventore amet, iusto reiciendis itaque eos animi quibusdam nisi. At, blanditiis! Vero quasi natus culpa.</p>
    </div>

    <div class="content">
        <h2>Typographical Errors</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laudantium dolorum nam ut tenetur enim reprehenderit, ipsa temporibus hic dicta, inventore impedit dolor repellendus quis, deserunt numquam voluptas? Debitis magnam ipsum totam aut iusto itaque temporibus repudiandae, quaerat, repellendus quam quas veniam. Unde nam incidunt consequuntur sed non aliquid, inventore amet, iusto reiciendis itaque eos animi quibusdam nisi. At, blanditiis! Vero quasi natus culpa.</p>
    </div>

    <div class="content">
        <h2>Payment Methods</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laudantium dolorum nam ut tenetur enim reprehenderit, ipsa temporibus hic dicta, inventore impedit dolor repellendus quis, deserunt numquam voluptas? Debitis magnam ipsum totam aut iusto itaque temporibus repudiandae, quaerat, repellendus quam quas veniam. Unde nam incidunt consequuntur sed non aliquid, inventore amet, iusto reiciendis itaque eos animi quibusdam nisi. At, blanditiis! Vero quasi natus culpa.</p>
    </div>
</div>

<%- include ../partials/footer %>

<script src="/scripts/common-bundle.js"></script>

<%- include ../partials/end %>