<%- include ../partials/head %>

<%- include ../partials/head-end %>

<%- include ../partials/header %>

<div class="legal-wrapper">
    <div class="content">
        <h2 class="bg-anim">Privacy Policy</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aspernatur quis accusantium fugit doloremque reiciendis nihil possimus consectetur ab eveniet.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ratione facere accusamus, iste enim cumque quod cum. Impedit exercitationem veritatis aperiam quae vel, cum omnis? Temporibus voluptatibus fugiat iure maxime maiores! Sint nisi voluptas optio aliquam pariatur error ea, qui iure, illum odio, reprehenderit quasi minima aperiam repellendus eveniet temporibus eos nemo autem ullam ex voluptate? Perspiciatis corporis iure distinctio?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dolore reiciendis officiis nesciunt atque mollitia. Non, cum quis facilis magnam illum quas error quam sapiente provident eveniet recusandae similique voluptate voluptatibus sunt neque ex sint vero libero distinctio autem qui velit deserunt. Similique quia dolorem earum optio, voluptatem a, sed, nesciunt praesentium impedit fuga deserunt?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea ut perferendis perspiciatis repellendus, dolor sed molestias reprehenderit! Ab, harum sint. Voluptates perferendis magnam consectetur!</p>
    </div>
</div>

<%- include ../partials/footer %>

<script src="/scripts/common-bundle.js"></script>

<%- include ../partials/end %>